* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', serif !important;
}

.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Raleway', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

.jumbotron {
  height: 25%;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /* color: black; */
  /* font-weight: bold; */
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.light-text {
  color: white;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

/* MARCA DEL VALOR DE LAS ESTRELLAS EN LOS COMENTARIOS */
.checked {
  color: #05e690;
}

/* COMIENZO DE LAS ESTRELLAS EN EL FORMULARIO */
.stars-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: left;
}

.stars-container label {
  transition: all 0.2s ease;
}

.stars-container input {
  display: none;
}

input:not(:checked)~label .fa-star:hover,
input:not(:checked)~label:hover~label .fa-star {
  color: #05e690;
}

input:checked~label .fa-star {
  color: #05e690;
}

/* FIN DE LAS ESTRELLAS DEL FORMULARIO */

/* CONTENEDOR DE LA INFORMACIÓN DEL PRODUCTO */
#product-info-container {
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
  padding: 15px;
}

/* ====================================== */

/* NAVIGATION BAR NUEVA */
nav {
  height: auto;
  background: rgb(41, 41, 41);
}

.nav-links {
  display: flex;
  list-style: none;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-right: auto;
}

.nav-links li a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 16px;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 768px) {
  .fa-bars {
    color: whitesmoke;
  }

  nav {
    position: sticky;
    z-index: 2;
    height: 8vh;
  }

  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    left: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }

  .nav-links {
    position: absolute;
    background: rgb(41, 41, 41);
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(10px at 0% -5%);
    -webkit-clip-path: circle(10px at 0% -5%);
    transition: all 1s ease-out;
    pointer-events: none;
  }

  .nav-links.open {
    clip-path: circle(1000px at 0% -10%);
    -webkit-clip-path: circle(1000px at 0% -10%);
    transition: all 1s ease-out;
    pointer-events: all;
  }
}

/* ====================================== */

/* DROPDOWNMENU */
.dropdown #dropdownMenuLink {
  background-color: rgb(41, 41, 41);
  border-color: rgb(41, 41, 41);
}

.dropdown .dropdown-item {
  color: rgb(65, 65, 65);
}

.dropdown .dropdown-item:hover {
  color: black;
}

#dropdownMenuContainer {
  text-align: right;
}

/* ====================================== */

/* CART 2.0 HTML */
.cart .table {
  margin-bottom: 30px;
}

.d-flex {
  justify-content: center;
}

.des {
  text-align: center;
}

.cart .table thead tr th {
  font-size: 16px;
  font-weight: bold;
  border-bottom: 0px;
}

.cart .table thead tr td {
  padding-top: 30px;
  padding-bottom: 30px;
  vertical-align: middle;
  align-self: center;
}

.cart .table tbody tr td .main .d-flex {
  align-items: center;
  margin: auto;
}

.cart .table tbody tr td .main .d-flex img {
  border-radius: 3px;
  width: 150px;
}

.cart .table tbody tr td .main .des {
  vertical-align: middle;
  align-self: center;
}

.cart .table tbody tr td .main .des p {
  margin-bottom: 0px;
}


.cart .table tbody tr td {
  vertical-align: middle;
  align-items: center;
}

.cart .table tbody tr td h6 {
  font-size: 16px;
  color: #000;
  margin-bottom: 0px;
}

.cart .table tbody tr td .counter {
  margin-bottom: 0px;
}

.cart .table tbody tr td .counter input .form-control {
  width: auto;
}

.form-control {
  width: 100%;
}

.checkout ul {
  border: 2px solid #ebebeb;
  background: #f3f3f3;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 16px;
  padding-bottom: 20px;
}

.checkout ul li {
  list-style: none;
  font-size: 16px;
  font-weight: bold;
  color: #252525;
  overflow: hidden;
}

.checkout ul li.subtotal {
  font-weight: bold;
  padding-bottom: 14px;
}

.checkout ul li.subtotal span {
  font-weight: bold;
}

.checkout ul li.cart-total span {
  color: #e7ab3c;
}

.checkout ul li span {
  float: right;
}

.checkout .proceed-btn {
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  background: #252525;
  padding: 15px 25px 14px 25px;
  display: block;
  text-align: center;
}

/* ====================================== */

/* Contenedor de los datos de perfil */

.user-card-full {
  overflow: hidden
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  border: none;
  margin-bottom: 30px
}

.m-r-0 {
  margin-right: 0px
}

.m-l-0 {
  margin-left: 0px
}

.user-card-full .user-profile {
  border-radius: 5px;
}

.bg-c-lite-green {
  background: -webkit-gradient(linear, left top, right top, from(#cfcdcc), to(rgb(41, 41, 41)));
  background: linear-gradient(to right, #79686b, rgb(41, 41, 41))
}

.user-profile {
  padding: 20px 0
}

.card-block {
  padding: 1.25rem
}

.m-b-25 {
  margin-bottom: 25px
}

.img-radius {
  border-radius: 5px
}

h6 {
  font-size: 14px
}

.card .card-block p {
  line-height: 25px
}

@media only screen and (min-width: 1400px) {
  p {
    font-size: 14px
  }
}

.card-block {
  padding: 1.25rem
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0
}

.m-b-20 {
  margin-bottom: 20px
}

.p-b-5 {
  padding-bottom: 5px !important
}

.card .card-block p {
  line-height: 25px
}

.m-b-10 {
  margin-bottom: 10px
}

.text-muted {
  color: #919aa3 !important
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0
}

.f-w-600 {
  font-weight: 600
}

.m-b-20 {
  margin-bottom: 20px
}

.m-t-40 {
  margin-top: 20px
}

.p-b-5 {
  padding-bottom: 5px !important
}

.m-b-10 {
  margin-bottom: 10px
}

.m-t-40 {
  margin-top: 20px
}

.user-card-full .social-link li {
  display: inline-block
}

.user-card-full .social-link li a {
  font-size: 20px;
  margin: 0 10px 0 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out
}

#profile-image-file-source,
#user-profile-name,
#user-profile-mail {
  background-color: transparent;
  color: whitesmoke;
  text-align: center;
  border-color: transparent;
}

#user-profile-address,
#user-profile-phone,
#user-profile-age,
#user-profile-country {
  color: #000;
  background-color: transparent;
  border-color: transparent;
}

#profile-image-source {
  color: rgba(255, 250, 250, 0.068);
}

#boton-edit-profile {
  font-size: 15px;
  color: black;
}

#boton-edit-profile:hover {
  color: grey;
}

.grisesito-boton-edit:hover {
  color: grey;
}

.iconos-redes {
  color: grey;
  font-size: 1.25em;
}

/* ======================================= */