* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', serif !important;
}

.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Raleway', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

.jumbotron {
  height: 25%;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /* color: black; */
  /* font-weight: bold; */
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.light-text {
  color: white;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

/* MARCA DEL VALOR DE LAS ESTRELLAS EN LOS COMENTARIOS */
.checked {
  color: #05e690;
}

/* COMIENZO DE LAS ESTRELLAS EN EL FORMULARIO */
.stars-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: left;
}

.stars-container label {
  transition: all 0.2s ease;
}

.stars-container input {
  display: none;
}

input:not(:checked)~label:hover,
input:not(:checked)~label:hover~label {
  color: #05e690;
}

input:checked~label {
  color: #05e690;
}

/* FIN DE LAS ESTRELLAS DEL FORMULARIO */

/* CONTENEDOR DE LA INFORMACIÓN DEL PRODUCTO */
#product-info-container {
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
  padding: 15px;
}

/* ====================================== */

/* NAVIGATION BAR NUEVA */

nav {
  height: 8vh;
  background: rgb(41, 41, 41);
}

.nav-links {
  display: flex;
  list-style: none;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-right: auto;
}

.nav-links li a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .line {
    width: 30px;
    height: 3px;
    background: whitesmoke;
    margin: 5px;
  }

  nav {
    position: sticky;
    z-index: 2;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    left: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }

  .nav-links {
    position: fixed;
    background: rgb(41, 41, 41);
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(10px at 10% -5%);
    -webkit-clip-path: circle(10px at 10% -5%);
    transition: all 0.5s ease-out;
    pointer-events: none;
  }

  .nav-links.open {
    clip-path: circle(10000px at 90% -10%);
    -webkit-clip-path: circle(10000px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: all;
  }
}

/* ====================================== */